.container{
    padding-top:100px;
    width: clamp(490px, 80%, 80%);
    margin: auto;
    overflow: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.box1{
    width: clamp(350px, 35%, 95%);
    margin: auto;
}
.box2{
    width: clamp(350px, 55%, 95%);
    margin: auto;

}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }
.up{
  font-size:15px;
    width: 33.3%;
}
.down{
  font-size:40px;
    width: 33.3%;
}