html {
		overflow-x: hidden;
  		margin-right: calc(-1 * (100vw - 100%));
  	}

a {
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-width: 1000px;
}

body *{
    font-family: "Sen", sans-serif;
}

.password_reset_container{
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: rgb(0,201,11);
    width: 500px;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.title{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    border: none;
    font-size: 25px;
    background-color: rgba(0,201,11, 0.5);
    background-clip: border-box;
    text-align: center;
}


.back-button{
    position: absolute;
    bottom: 5%; left: 5%;
    transform: translate(-50%, 0);
    font-family: Sen, sans-serif;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(0,201,11, 1);
    font-size: 20px;

    text-align: center
}

.subbutton{
    width:97%;
    margin: 10px 8px;
    padding: 5px 0 5px 0;
    background-color: rgba(0,201,11, 0.5);
    font-size: 20px;
    color: white;
    border-style: none;
    border-radius: 15px;
}

.form-input-label{
    padding: 0 10px 0 10px;
}

input{
    margin: 10px 8px;
    padding: 5px 0 5px 10px;
    background-color: rgba(0,201,11, 0.3);
    font-size: 20px;
    color: white;
    outline: none;
    border-style: none;
    border-radius: 15px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    width:97%;
}