<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/password_reset_form.css' %}">
    <title>Zapomniałeś hasła?</title>
</head>
<body>

<div class="password_reset_container">
    <div class="title">Zapomniałeś hasła?</div>
    <div class="container">

        <div style="padding-left: 10px; padding-top: 20px;">Podaj adres email, na który wysłać informacje na temat zmiany hasła.</div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-input-label">
                Adres e-mail:
            </div>
            <div>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>
            <button class="subbutton" type="submit">Poproś o zmiane hasła</button>
        </form>
        <br>
    </div>
</div>

</body>
</html>