<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/password_reset_done.css' %}">
    <title>Wysłano prośbę o zmianę hasła</title>
</head>
<body>


<div class="reset_done_container">
    <div class="container">
        <h1>Sprawdź skrzynkę pocztową.</h1>
        <br>
        Na podany adres email wysłaliśmy email z instrukcjami jak zmienić hasło. Email powinien dotrzeć w czasie do 5 minut.
        <br>
        <br>
    </div>
</div>

</body>
</html>