<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/password_reset_confirm.css' %}">
    <title>Zmiana hasła</title>
</head>
<body>

{% if validlink %}


<div class="password_reset_container">
    <div class="title">Zmiana hasła</div>
    <div class="container">
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-input-label">
                Nowe hasło:
            </div>
            <div>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div>
            <div class="password-hint">Hasło powinno zawierać co najmniej 8 znaków,
                w tym małe i duże litery, cyfry, znaki specjalne
            </div>
            <div class="form-input-label">
                Nowe hasło (powtórz):
            </div>
            <div>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </div>
            <button class="subbutton" type="submit">Zmień hasło</button>
        </form>
        <br>
    </div>
</div>
{% else %}

<p></p>

<div class="password_reset_container">
    <div class="container">
        Link do zmiany hasła stracił ważność. Prawdopodobnie został już użyty. Proszę wyślij ponownie prośbę o zmiane hasła.
        <br>

    </div>
</div>
{% endif %}

</body>
</html>