<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/password_reset_complete.css' %}">
    <title>Zresetowano hasło</title>
</head>
<body>
<div class="reset_done_container">
    <div class="container">
        <h1>Zresetowano hasło</h1>
        <br>
        Ustanowiono nowe hasło. Możesz już się nim zalogować.
        <br>
        <a href="{% url 'login' %}">Logowanie</a>
        <br>
        <br>
    </div>
</div>
</body>
</html>